site_name: Creaci贸n de Sitios Usando Diferentes Temas en HUGO y MKDOCS
site_url: https://rimsha-iqbal.github.io/ProyectoASIR2-e4/

nav:
  - HOME: index.md
  - Configuraci贸n_general: paso1.md
  - Usuarios_Clientes_y_Proveedores: paso2.md
  - Inventario: paso3.md
  - Gesti贸n_de_una_compra: paso4.md
  - Gesti贸n_de_una_venta: paso5.md

theme:
  name: material
  font:
    text: Merriweather Sans
    code: Red Hat Mono
  features:
    - navigation.footer
  palette:
    # Dark Mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark mode
      primary: green
      accent: deep purple

    # Light Mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light mode
      primary: blue
      accent: deep orange

